header .navbar{
  position: absolute;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 1px 8px rgb(29, 29, 29);
  z-index: 1000;
}

header .navbar .sticky{
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  transition: all 15ms ease-in-out;
  -webkit-transition: all 15ms ease-in-out;
  -moz-transition: all 15ms ease-in-out;
  -o-transition: all 15ms ease-in-out;
  -ms-transition: all 15ms ease-in-out;
  animation-name: stickyTransition;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
}

@keyframes stickyTransition{
  0%{
    opacity: 0;
    -webkit-transform: translate3d(1,-100%, 0);
    transform: translate3d(1, -100%, 0);
  }

  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

header .logo img{
  width: auto;
  max-width: 200px;
  max-height: 55px;
}

header .nav-link{
  display: inline-flex;
  justify-content: start;
  color: black;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--oswald-font);
  text-transform: uppercase;
  transition: all 15ms ease-in-out;
 -webkit-transition: all 15ms ease-in-out;
 -moz-transition: all 15ms ease-in-out;
 -o-transition: all 15ms ease-in-out;
 -ms-transition: all 15ms ease-in-out;

}

header .sticky .nav-link{
color: var(--light-black);
}

header .nav-link:hover{
  color: var(--yellow);
}

header .cart{
  position: relative;
  top: -3px;
  left: 5px;
}

header .roundpoint{
  width: 16px;
  height: 16px;
  background: var(--light-red);
  border-radius: 50%;
  color: var(--white);
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  font-style: normal;
  position:absolute;
  top: 1px;
  right: -6px;
}

@media screen and (max-width: 992px){

  header .navbar{
    background-color: var(--white);
  }

  header .navbar-toggler {
    border: none;
  }
  header .navbar-toggler:focus{
    box-shadow: none;
    outline: none;
  }

  header .nav-link{
    padding: 5px;
  }
}
