/*Home Styling*/
.hero_section {
  position: relative;
  background: url("../assets/hero/hero-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 170px;
  padding-bottom: 90px;
}

.hero_section .price_badge {
  background: url("../assets/hero/price-badge-yellow.png") no-repeat center
    center;
  background-size: cover;
  position: absolute;
  top: -20px;
  right: 5px;
  width: 180px;
  height: 176px;
  text-align: center;
}

.hero_section .badge_text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.hero_section .badge_text .only {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.hero_section .badge_text .price {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}

.hero_section .hero_text h1 {
  font-family: var(--lilita-font);
  font-size: 90px;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-align: center;
}

.hero_section .hero_text h2 {
  font-family: var(--lilita-font);
  font-size: 32px;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.hero_section .hero_text p {
  padding: 0 25px;
}

.about_section {
  padding-top: 80px;
  padding-bottom: 300px;
  background: url("../assets//about/about-1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.about_section h2 {
  font-size: 3rem;
}

.about_wrapper {
  background: var(--yellow);
  padding-top: 70px;
  padding-bottom: 30px;
}

.about_box .about_icon img {
  max-width: 25%;
}
.about_box h4 {
  padding-top: 20px;
  font-size: 22px;
}

.about_box p {
  padding: 0 10px;
}

.menu_section h2 {
  font-size: 40px;
  color: var(--light-red);
}

.menu_section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu_section .card-img-top {
  transition: all 500ms ease-in-out;
}

.menu_section .para {
  color: rgb(90, 90, 90);
}

.menu_section .item_rating i {
  color: var(--yellow);
  padding-right: 5px;
}

.menu_section .wishlist i {
  color: grey;
  font-size: 20px;
  cursor: pointer;
}

.menu_section .card-title {
  font-family: var(--oswald-font);
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.menu_section .card-text {
  font-size: 15px;
  color: rgb(92, 91, 91);
}

.menu_section .menu_price h5 {
  background-color: rgb(70, 2, 2);
  color: rgb(255, 238, 0);
  display: inline-block;
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 4px;
}

.menu_section .add_to_cart a {
  background: rgb(255, 187, 0);
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 4px;
  opacity: 0;
  color: rgb(17, 17, 17);
  transform: translateY(100px);
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
}

.menu_section .card:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  box-shadow: rgb(145, 145, 145) 1px 1px 6px;
}

.menu_section .card:hover .cardImage {
  transform: scale(1.1);
}

.menu_section .card:hover .add_to_cart a {
  transform: translateY(0px);
  opacity: 1;
}

.menu_section .ads_box {
  text-align: right;
  padding: 80px 35px 50px;
  border-radius: 6px;
}

.menu_section .ads_img1 {
  background: url("../assets//menu/ads-1.jpg");
  background-size: cover;
}

.menu_section .ads_img2 {
  background: url("../assets//menu/ads-2.jpg");
  background-size: cover;
}

.menu_section .ads_box h4 {
  font-size: 35px;
  font-weight: 300;
  color: rgb(70, 36, 8);
}

.menu_section .ads_box h5 {
  font-size: 38px;
  color: rgb(70, 36, 8);
}
.menu_section .ads_box a {
  margin-top: 15px;
  font-size: 18px;
}

.promotion_section {
  padding-top: 80px;
  padding-bottom: 50px;
  background: rgb(228, 237, 247);
}

.promotion_section h2 {
  font-size: 40px;
  margin-bottom: 25px;
}
.promotion_section p {
  font-size: 18px;
}

.promotion_section ul {
  padding-left: 15px;
}

.bg_parallax_scroll {
  background: url("../assets/parallax/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
}

.e_shop_section {
  padding-top: 100px;
  background: var(--yellow);
}

.e_shop_section h4 {
  font-size: 32px;
  font-weight: 400;
  color: rgb(65, 29, 0);
}

.e_shop_section h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1;
  color: rgb(65, 29, 0);
}

.e_shop_section .store {
  width: 40%;
}

.carousel.slide .carousel-inner {
  overflow: unset;
}

.brand_section {
  padding: 70px 0 40px;
  background: rgb(236, 236, 236);
  overflow: hidden;
}

.brand_section .brand_img {
  width: 180px;
  height: auto;
}

.carousel.slide .carousel-inner .carousel-caption {
  position: relative;
  right: unset;
  left: unset;
}

.blog_section{
  padding: 80px 0 50px;
  background: url("../assets/blog/reviews.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.blog_section .user_img img{
width: 100px;
height: 100px;
border-radius: 100%;
object-fit: cover;
margin-bottom: 25px;
}

.blog_section .carousel.slide .carousel-inner .carousel-caption p{
font-size: 1.7rem;
line-height: 1.45;
font-weight: 400;
padding: 0 12%;
margin-bottom: 25px;
}


.blog_section .carousel.slide .carousel-inner .carousel-caption .item-rating i{
  color: var(--yellow);
  margin-right: 5px;
}

.blog_section .carousel.slide .carousel-inner .carousel-caption h5{
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact_section{
 padding: 100px 0;
  background: url("../assets/footer/banner-1.jpg") no-repeat center center;
  background-size: cover;
}

.contact_section h4{
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.contact_section h2{
font-size: 64px;
margin-bottom: 25px;
}

.contact_section p{
  width: 75%;
margin:0 auto 30px;
}

footer {
padding-top: 80px;
}

footer h4{
color: rgb(44, 44, 44);
}

footer p{
  margin-bottom: 3px;
  font-size: 1rem;
}

footer p .calling{
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--yellow);
  text-decoration: none;
}

footer ul li{
display: inline-block;
margin-right: 20px;
font-size: 1.4rem;
cursor: pointer;
}

footer ul .icon{
  color: black;
  text-decoration: none;
}

footer .copyrights{
border-top: 1px solid rgb(204, 204, 204);
margin-top: 60px;
padding: 20px;
}

footer .copyrights ul li span{
color: var(--light-red);
font-weight: 500;
}

footer .copyrights ul li{
  font-size: 1rem;
  padding: 10px;
  position: relative;
}

footer .copyrights ul li::after{
  content: "|";
  padding-left: 15px;
  position: absolute;
  top: 10px;
  right: -10px;
}

footer .copyrights ul li:last-child::after{
display: none;
}

@media (max-width: 676px) {
  .hero_section .hero_text h1 {
    font-size: 60px;
  }

  .hero_section .price_badge {
    background: url("../assets/hero/price-badge-yellow.png") no-repeat center
      center;
    background-size: cover;
    position: absolute;
    top: -20px;
    right: 5px;
    width: 150px;
    height: 146px;
    text-align: center;
  }

  .hero_section .badge_text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero_section .badge_text .only {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
  }

  .hero_section .badge_text .price {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
  }

  .blog_section .carousel.slide .carousel-inner .carousel-caption p{
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .about_section h2 {
    font-size: 35px;
  }

  .about_section p {
    padding: 20px 0;
  }

  .about_box p {
    padding: 0;
  }

  .bg_parallax_scroll {
    background-attachment: scroll;
    height: 500px;
  }

  .contact_section p{
    width: 100%;
  }

  .contact_section h2{
    font-size: 50px;
  }
}

.e_shop_section h4 {
  font-size: 30px;
}

.e_shop_section h1 {
  font-size: 50px;
}

.e_shop_section p {
  font-size: 16px;
}

@media (max-width: 992px) {
  .menu_section .ads_box h4 {
    font-size: 25px;
    font-weight: 300;
    color: rgb(70, 36, 8);
  }

  .menu_section .ads_box h5 {
    font-size: 28px;
    color: rgb(70, 36, 8);
  }
}

@media (max-width: 1200px) {
  .promotion_section h2 {
    font-size: 32px;
  }
}

@media (max-width: 676px) {
  .e_shop_section h4 {
    font-size: 25px;
  }

  .e_shop_section h1 {
    font-size: 42px;
  }

  .brand_section {
    padding: 50px 0px 10px;
  }

  .brand_section .brand_img {
    width: 90px;
    height: auto;
  }
}
